DJANGO_SECRET_KEY=django-insecure-change-me-please-generate-new
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
SITE_URL=https://areybra.vercel.app
WHATSAPP_NUMBER=6282142961010
DEFAULT_OG_IMAGE=https://lh3.googleusercontent.com/aida/AEtjO1UEoiyjmRKUBIc9t_Fndn02qah9zD4YxMOclwvCsw3RgF04tBa7qBJtB3e-J04xQLKcvUDjFs3W9OGpRH2ONio9YqP3AFOlbnf_VADprquwDe9nBnqaSBN4w2LlKcPBqpkEODL3pzu4GkgxG44ucGQRBvUR2HQGWMBjGgDsHFLRA1U1NAfAjAKRmAirn9ZaUcwEP-OH1rfpqF-1S_JV3Za18csDTh8B6C7BX43cPLUS05jJpemociIHRQPo

# --- Vercel + Railway (Production) ---
# Railway provides DATABASE_URL or MYSQL_URL (copy from Railway -> Variables)
# Contoh: mysql://root:password@mysql.railway.internal:3306/railway
DATABASE_URL=mysql://root:password@host:3306/areybra_porto
# alternative split vars (jika tidak pakai DATABASE_URL)
MYSQL_DATABASE=areybra_porto
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Vercel env auto
# VERCEL_URL automatically set by Vercel
# SITE_URL harus diisi domain vercel final, mis https://areybra.vercel.app atau custom domain
