<div class="fixed inset-0 pointer-events-none z-0 overflow-hidden">
  <div class="absolute -top-40 -left-40 w-[600px] h-[600px] rounded-full bg-gradient-to-br from-primary-fixed/35 to-transparent blur-3xl"></div>
  <div class="absolute top-[28%] -right-48 w-[650px] h-[650px] rounded-full bg-gradient-to-bl from-tertiary-fixed/20 to-transparent blur-3xl"></div>
  <div class="absolute top-[65%] -left-36 w-[550px] h-[550px] rounded-full bg-gradient-to-tr from-primary-container/10 via-transparent to-transparent blur-3xl"></div>
  <div class="absolute bottom-0 right-10 w-[700px] h-[500px] rounded-full bg-gradient-to-t from-primary-fixed/25 to-transparent blur-3xl"></div>
  <svg class="absolute inset-0 w-full h-full opacity-[0.035]" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern height="64" id="editorialGrid" patternUnits="userSpaceOnUse" width="64">
        <path d="M 64 0 L 0 0 0 64" fill="none" stroke="#1b1c1d" stroke-width="1"></path>
        <circle cx="0" cy="0" fill="#094cb2" r="1.5"></circle>
      </pattern>
    </defs>
    <rect fill="url(#editorialGrid)" height="100%" width="100%"></rect>
  </svg>
</div>
